<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
		<extensions>
			<bindingExtensions>
				<add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</bindingExtensions>
		</extensions>
        <behaviors>
			<serviceBehaviors>
				<behavior name="ChatServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentSessions="2147483647"/>
				</behavior>
			</serviceBehaviors>
        </behaviors>
        <bindings>
			<pollingDuplexHttpBinding>
				<binding name="PubSub" duplexMode="MultipleMessagesPerPoll"/>
			</pollingDuplexHttpBinding>
        </bindings>
        <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />-->
        <services>
            <service behaviorConfiguration="ChatServiceBehavior" name="NoughtsAndCrossesMultiPlayer.Web.ChatService">
                <endpoint address="" binding="pollingDuplexHttpBinding" bindingConfiguration="PubSub"
                    contract="NoughtsAndCrossesMultiPlayer.Web.IChatService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
